<table class="Bs nH iY" cellpadding="0" role="presentation">
  <tr>
    <td class="Bu">
      <div class="Bt" style="width: 539px;"></div>
      <div class="nH if">
        <div class="nH br6">
          <div class="hj">
            <div class="ade">
              <span class="hk J-J5-Ji" style="display: none;">
                <div id=":12l" class="T-I J-J5-Ji T-I-JN L3" role="button" tabindex="0" data-tooltip="Collapse all" aria-label="Collapse all"
                  style="user-select: none;">
                  <span class="SD">
                    <img class="gq T-I-J3" src="" alt="Collapse all"> </span>
                </div>
              </span>
              <span class="hk J-J5-Ji" style="display: none;">
                <div id=":10z" class="T-I J-J5-Ji T-I-JN L3" role="button" tabindex="0" data-tooltip="Expand all" aria-label="Expand all"
                  style="user-select: none;">
                  <span class="SD">
                    <img class="gx T-I-J3" src="" alt="Expand all"> </span>
                </div>
              </span>
              <span class="hk J-J5-Ji">
                <div id=":10e" class="T-I J-J5-Ji T-I-JN L3" role="button" tabindex="0" data-tooltip="Print all" aria-label="Print all" style="user-select: none;">
                  <span class="SD">
                    <img class="g1 T-I-J3" src="" alt="Print all"> </span>
                </div>
              </span>
              <span class="hk J-J5-Ji">
                <div id=":10d" class="T-I J-J5-Ji T-I-JN L3" role="button" tabindex="0" data-tooltip="In new window" aria-label="In new window"
                  style="user-select: none;">
                  <span class="SD">
                    <img class="gZ T-I-J3" src="" alt="In new window"> </span>
                </div>
              </span>
            </div>
          </div>
          <div class="nH">
            <div class="ha">
              <h2 id=":117" class="hP" tabindex="-1" data-thread-perm-id="1614a741641d52c3">{{letter?.data.title}}</h2>
              <span id=":118" class="J-J5-Ji">
                <div class="pG" data-tooltip-contained="true" data-tooltip-align="b,l" data-tooltip-delay="1500" aria-label="Important according to our magic sauce."
                  role="img" id=":12a">
                  <div class="T-ays-a45">Important according to our magic sauce.
                    <br>
                    <span class="aol">Click to teach Gmail this conversation is not important.</span>
                  </div>
                  <div class="pH a9q" tabindex="0"></div>
                  <div class="bnj "></div>
                </div>
                <table cellpadding="0" class="cf hX">
                  <tbody>
                    <tr class="hY hM">
                      <td class="hT hM"></td>
                      <td class="hU hM" style="background-color: #ddd"></td>
                      <td class="hS hM" style="background-color: #ddd"></td>
                      <td class="hV hM" style="background-color: #ddd"></td>
                      <td class="hW hM"></td>
                    </tr>
                    <tr class="hR">
                      <td class="hT hU hM" style="background-color: #ddd"></td>
                      <td class="hU hM" style="background-color: #ddd; color: #666">
                        <div class="hN" name="^i" title="Search for all messages with label Inbox" role="button" tabindex="0">Inbox</div>
                      </td>
                      <td class="hS hM" style="background-color: #666"></td>
                      <td class="hV hM" style="background-color: #ddd; color: #666">
                        <span class="hO" name="^i" title="Remove label Inbox from this conversation" role="button" tabindex="0">x</span>
                      </td>
                      <td class="hW hV hM" style="background-color: #ddd"></td>
                    </tr>
                    <tr class="hY hM">
                      <td class="hT hM"></td>
                      <td class="hU hM" style="background-color: #ddd"></td>
                      <td class="hS hM" style="background-color: #ddd"></td>
                      <td class="hV hM" style="background-color: #ddd"></td>
                      <td class="hW hM"></td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
            <div class="dJ"></div>
          </div>
        </div>
        <div class="nH aHU">
          <div class="nH hx">
            <div class="nH">
              <div tabindex="-1" role="menu" class="b7 J-M" aria-haspopup="true" style="user-select: none; display: none;"></div>
            </div>
            <div class="nH"></div>
            <div class="nH" role="list">
              <div class="h7 ie nH oy8Mbf" role="listitem" tabindex="-1">
                <div class="Bk">
                  <div class="G3 G2">
                    <div>
                      <div id=":109">
                        <div class="adn ads" style="display:" data-message-id="1614a741641d52c3" data-legacy-message-id="1614a741641d52c3">
                          <div class="aju">
                            <div class="aCi">
                              <div class="aFg" style="display: none;"></div>
                              <img id=":0_6-e" name=":0" src="../../../../assets/img/profile_mask.png"
                                class="ajn" jid="aubreyrawhitaker@gmail.com" data-name="Aubrey Whitaker" aria-hidden="true">
                            </div>
                          </div>
                          <div class="gs">
                            <div class="gE iv gt">
                              <table cellpadding="0" class="cf gJ">
                                <tbody>
                                  <tr class="acZ">
                                    <td class="gF gK">
                                      <table cellpadding="0" class="cf ix">
                                        <tbody>
                                          <tr>
                                            <td>
                                              <h3 class="iw">
                                                <span email="aubreyrawhitaker@gmail.com" name="Aubrey Whitaker" data-hovercard-id="aubreyrawhitaker@gmail.com" class="gD">{{letter?.data.sender}}</span>
                                              </h3>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td class="gH">
                                      <div class="gK">
                                        <span></span>
                                        <span id=":11o" class="g3" title="Tue, Jan 30, 2018 at 11:22 PM" alt="Tue, Jan 30, 2018 at 11:22 PM">Jan 30 (7 days ago)</span>
                                        <div class="zd bi4" aria-label="Starred" tabindex="0" role="checkbox" aria-checked="false" style="outline:0">
                                          <span class="T-KT">
                                            <img class="f T-KT-JX" src="" alt="">
                                          </span>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="gH"></td>
                                    <td class="gH acX" rowspan="2">
                                      <div class="T-I J-J5-Ji T-I-Js-IF aaq T-I-ax7 L3" role="button" tabindex="0" data-tooltip="Reply" aria-label="Reply" style="user-select: none;">
                                        <img class="hB T-I-J3 " role="button" src="" alt="">
                                      </div>
                                      <div id=":127" class="T-I J-J5-Ji T-I-Js-Gs aap T-I-awG T-I-ax7 L3" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true"
                                        data-tooltip="More" aria-label="More" style="user-select: none;">
                                        <img class="hA T-I-J3" role="menu" src="" alt="">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr class="acZ xD">
                                    <td colspan="3">
                                      <table cellpadding="0" class="cf adz">
                                        <tbody>
                                          <tr>
                                            <td class="ady">
                                              <div class="iw ajw">
                                                <span class="hb">to
                                                  <span dir="ltr" email="sporttechnologyinvest@gmail.com" name="me" data-hovercard-id="sporttechnologyinvest@gmail.com" class="g2">me</span>
                                                </span>
                                              </div>
                                              <div aria-haspopup="true" class="ajy" role="menuitem" tabindex="0">
                                                <img class="ajz" id=":12i" role="button" src="" alt="" data-tooltip="Show details" aria-label="Show details">
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div id=":10a">
                              <div class="qQVYZb"></div>
                              <div class="utdU2e"></div>
                              <div class="btm"></div>
                            </div>
                            <div class="aHl"></div>
                            <div id=":126" tabindex="-1"></div>
                            <div id=":10c" class="ii gt ">
                              <div id=":10b" class="a3s aXjCH m1614a741641d52c3">
                                <div dir="ltr">
                                  {{letter?.text}}
                                  <!-- <a href="http://www.travelandleisure.com/travel-news/italian-village-selling-homes-for-one-dollar" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.travelandleisure.com/travel-news/italian-village-selling-homes-for-one-dollar&amp;source=gmail&amp;ust=1518052496849000&amp;usg=AFQjCNEuohCwxohKJjNpVjSUSvMvSrypAg">http://www.travelandleisure.<wbr>com/travel-news/italian-<wbr>village-selling-homes-for-one-<wbr>dollar</a> -->
                                  <div class="yj6qo"></div>
                                  <div class="adL">
                                    <br>
                                  </div>
                                </div>
                                <div class="adL">
                                </div>
                              </div>
                            </div>
                            <div id=":10j" class="ii gt " style="display:none">
                              <div id=":10k" class="a3s aXjCH undefined"></div>
                            </div>
                            <div class="hi"></div>
                          </div>
                          <div class="ajx"></div>
                        </div>
                        <div class="gA gt acV">
                          <div class="gB xu">
                            <table id=":11v" cellpadding="0" role="presentation" class="cf gz ac0">
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="cKWzSc mD" idlink="" tabindex="0" role="button">
                                      <img class="mL" src="" alt="">
                                      <span class="mG">Reply</span>
                                    </div>
                                  </td>
                                  <td></td>
                                  <td>
                                    <div class="XymfBd mD" idlink="" tabindex="0" role="button">
                                      <img class="mI" src="" alt="">
                                      <span class="mG">Forward</span>
                                    </div>
                                  </td>
                                  <td></td>
                                  <td class="io">
                                    <div class="adA"></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="ip iq">
                              <div id=":11z">
                                <table class="cf wS" role="presentation">
                                  <tbody>
                                    <tr>
                                      <td class="amq">
                                        <img id=":0_5" name=":0" src="https://ssl.gstatic.com/ui/v1/icons/mail/no_photo.png" jid="sporttechnologyinvest@gmail.com"
                                          class="ajn bofPge">
                                      </td>
                                      <td class="amr">
                                        <div class="nr wR">
                                          <div class="amn">Click here to
                                            <span id=":123" role="link" tabindex="0" class="ams bkH">Reply</span> or
                                            <span id=":108" role="link" tabindex="0" class="ams bkG">Forward</span>
                                          </div>
                                        </div>
                                        <input type="text" class="amp">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nH"></div>
            <div class="nH"></div>
          </div>
        </div>
        <div class="nH">
          <div class="l2 ov">
            <div id=":12k"></div>
            <div id=":11d" class="aeV">
              <div>
                <div class="md mj">
                  <div>
                    <span dir="ltr">2.28 GB</span> (15%) of
                    <span dir="ltr">15 GB</span> used</div>
                  <div class="aeW">
                    <a target="_blank" href="https://www.google.com/settings/u/0/storage?hl=en" class="l8">Manage</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="aeU">
              <div id=":11c">
                <div>
                  <div class="ma">
                    <a href="https://www.google.com/intl/en/policies/terms/" target="_blank" class="l9">Terms</a> -
                    <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank" class="l9">Privacy</a>
                  </div>
                </div>
              </div>
            </div>
            <div id=":12n" class="ae3">
              <div>
                <div class="l6">
                  <div>Last account activity: 7 minutes ago</div>
                  <span id=":10l" class="l8 ou" tabindex="0" role="link">Details</span>
                </div>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </td>

  </tr>
</table>