<header class="row">

  <div class="col-sm-2 logo-google">

  </div>

  <div class="search-bar col-sm-6">
    <div class="input-group">
      <input [formControl]="searchControl" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-main">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
    <!-- /input-group -->

    <span class="arrow caret"></span>
  </div>
  <!-- search-bar -->

  <div class="col-sm-4">
    <ul class="profile-icons list-inline pull-right" style="display: flex; align-items: center;">

      <li>
        <span class="glyphicon glyphicon-th"></span>

      </li>
      <li class="">
        <span class="glyphicon glyphicon-bell"></span>

      </li>
      <li class="">
        <img class="user-logo" src="/assets/img/user-logo.jpg">
      </li>




    </ul>
  </div>
  <!-- profile -->
</header>