.logo {
    /* background-position: 0 -1451px; */
    height: 33px;
    /* min-width: 202px; */
    background: url(/assets/img/v2_a4825aca.png) no-repeat;
    /* background-image: -webkit-image-set url(/assets/img/v2_a4825aca.png); */
    background-size: 92px 2835px;
    background-position: 0 -1451px;
}

