.logo-google {
    height: 33px;
    min-width: 202px;
    background: url(/assets/img/v2_a4825aca.png) no-repeat;
    background-size: 92px 2835px;
    background-position: 30px -1451px;
}

.user-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}