<li *ngFor="let letter of mailList" [ngClass]="{'email-item': true,'row': true, 'unread': !letter.isRead}">
  <a [routerLink]="['/mail', mailBoxName, letter.id]">
    <div class="people col-sm-3">

      <ul class="mail-icons list-inline">
        <li>
          <input type="checkbox" class="mail-select">

        </li>
        <li>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
        <li>
          <span class="glyphicon glyphicon-cutlery"></span>
        </li>
      </ul>

      <span class="people-names">
        <span *ngIf="letter.sentTo".>To:</span>
        {{letter.name}}
      </span>

    </div>

    <div class="message col-sm-7">
      <div class="clipper">
        <h3>{{letter.title}}</h3>
        -
        <p>{{letter.body}}</p>
      </div>
    </div>
    <div class="date col-sm-2">
      <!-- <date class="pull-right">11:27 a.m.</date> -->

    </div>
  </a>
</li>