<div class="control-bar row">
  <div class="menu col-sm-2">
    Gmail
    <span class="caret"></span>
  </div>
  <!-- menu -->

  <div id=":5" class="aeH">
    <div class="D E G-atb G-pMpUR-SBEKme" style="margin-right: 0px;" gh="tm">
      <div class="nH aqK">
        <div class="Cq aqL" gh="mtb">
          <div>
            <div class="G-tF">
              <div class="G-Ni J-J5-Ji">
                <div id=":30" class="T-I J-J5-Ji T-Pm T-I-ax7 L3 J-JN-M-I G-as3" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false"
                  data-tooltip="Select" aria-label="Select" style="user-select: none;">
                  <div class="J-J5-Ji J-JN-M-I-Jm">
                    <span class="T-Jo J-J5-Ji T-Jo-aMF" aria-checked="false" role="checkbox" dir="ltr" style="user-select: none;">
                      <div class="T-Jo-auh" role="presentation"></div>
                    </span>
                    <div class="G-asx T-I-J3 J-J5-Ji" aria-hidden="true">&nbsp;</div>
                  </div>
                  <div class="J-J5-Ji J-JN-M-I-JG" aria-hidden="true">&nbsp;</div>
                </div>
              </div>
              <div class="G-Ni J-J5-Ji" style="display: none;">
                <div class="T-I J-J5-Ji lR T-I-ax7  T-I-Js-IF ar7" act="7" role="button" tabindex="0" data-tooltip="Archive" aria-label="Archive"
                  style="user-select: none;">
                  <div class="asa">
                    <div class="ar8 T-I-J3 J-J5-Ji"></div>
                  </div>
                </div>
                <div class="T-I J-J5-Ji nN T-I-ax7 T-I-Js-Gs T-I-Js-IF ar7" act="9" role="button" tabindex="0" data-tooltip="Report spam"
                  aria-label="Report spam" style="user-select: none;">
                  <div class="asa">
                    <div class="asl T-I-J3 J-J5-Ji"></div>
                  </div>
                </div>
                <div class="T-I J-J5-Ji nX T-I-ax7 T-I-Js-Gs ar7" act="10" role="button" tabindex="0" data-tooltip="Delete" aria-label="Delete"
                  style="user-select: none;">
                  <div class="asa">
                    <div class="ar9 T-I-J3 J-J5-Ji"></div>
                  </div>
                </div>
              </div>
              <div class="G-Ni J-J5-Ji" style="display: none;">
                <div id=":31" class="T-I J-J5-Ji T-I-Js-IF ar7 ns T-I-ax7 L3" role="button" tabindex="0" aria-haspopup="false" aria-expanded="false"
                  data-tooltip="Move to" aria-label="Move to" style="user-select: none;">
                  <div class="asa">
                    <div class="ase T-I-J3 J-J5-Ji"></div>
                  </div>
                  <div class="G-asx T-I-J3 J-J5-Ji" aria-hidden="true">&nbsp;</div>
                </div>
                <div id=":32" class="T-I J-J5-Ji T-I-Js-Gs ar7 mw T-I-ax7 L3" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false"
                  data-tooltip="Labels" aria-label="Labels" style="user-select: none;">
                  <div class="asa">
                    <div class="asb T-I-J3 J-J5-Ji"></div>
                  </div>
                  <div class="G-asx T-I-J3 J-J5-Ji" aria-hidden="true">&nbsp;</div>
                </div>
              </div>
              <div class="G-Ni J-J5-Ji" style="">
                <div class="T-I J-J5-Ji nu T-I-ax7 L3" act="20" role="button" tabindex="0" data-tooltip="Refresh" aria-label="Refresh" style="user-select: none;">
                  <div class="asa">
                    <div class="asf T-I-J3 J-J5-Ji"></div>
                  </div>
                </div>
              </div>
              <div class="J-J5-Ji">
                <div class="T9" style="display:none">Fetching mail...</div>
              </div>
              <div class="G-Ni J-J5-Ji">
                <div id=":33" class="T-I J-J5-Ji ar7 nf T-I-ax7 L3" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false"
                  style="user-select: none;">
                  <span class="bjy">More</span>
                  <div class="G-asx T-I-J3 J-J5-Ji">&nbsp;</div>
                </div>
              </div>
              <div class="J-M jQjAxd" role="menu" aria-haspopup="true" style="display: none; user-select: none;">
                <div class="SK AX" style="user-select: none;">
                  <div class="J-N" selector="all" role="menuitem" id=":ip" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">All</div>
                  </div>
                  <div class="J-N" selector="none" role="menuitem" id=":iq" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">None</div>
                  </div>
                  <div class="J-N" selector="read" role="menuitem" id=":ir" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">Read</div>
                  </div>
                  <div class="J-N" selector="unread" role="menuitem" id=":is" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">Unread</div>
                  </div>
                  <div class="J-N" selector="starred" role="menuitem" id=":it" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">Starred</div>
                  </div>
                  <div class="J-N" selector="unstarred" role="menuitem" id=":iu" style="user-select: none;">
                    <div class="J-N-Jz" style="user-select: none;">Unstarred</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Cr aqJ">
          <div class="ar5 J-J5-Ji">
            <span class="Di">
              <div id=":h7" class="J-J5-Ji amH J-JN-I" role="button" aria-expanded="false" tabindex="0" aria-haspopup="true" style="user-select: none;">
                <span class="Dj">
                  <span>
                    <span class="ts">{{firstLetter}}</span>–<span class="ts">{{lastLetter}}</span>
                  </span> of
                  <span class="ts">{{numberOfLetters}}</span>
                </span>
              </div>
              <a routerLink="" (click)='goPreviousPage()' [queryParams]="{page: currentPage === 1  ? currentPage : currentPage - 1}">
                <div id=":h9" class="T-I J-J5-Ji amD T-I-awG amE T-I-ax7 T-I-Js-IF L3" [ngClass]="{'inactive': currentPage === 1}">
                  <span class="amF" aria-hidden="true">&nbsp;</span>
                  <img class="amI T-I-J3" src="/assets/img/cleardot.gif" alt="">
                </div>
              </a>
              <a routerLink="" (click)="goNextPage(currentPage >= numberOfLetters / 5 ? currentPage : currentPage + 1 )" [queryParams]="{page: currentPage >= numberOfLetters / 5  ? currentPage : currentPage + 1}">
                <div id=":ha" class="T-I J-J5-Ji amD T-I-awG T-I-ax7 T-I-Js-Gs L3" [ngClass]="{'inactive': currentPage >= numberOfLetters / 5 }">
                  <span class="amF" aria-hidden="true">&nbsp;</span>
                  <img class="amJ T-I-J3" src="/assets/img/cleardot.gif" alt="">
                </div>
              </a>
            </span>
            <div class="amG J-M jQjAxd" role="menu" aria-haspopup="true" style="user-select: none; display: none;">
              <div class="SK AX" style="user-select: none;">
                <div id=":h8" class="J-N J-N-JE" role="menuitem" aria-disabled="true" style="user-select: none;">
                  <div class="J-N-Jz" style="user-select: none;">Newest</div>
                </div>
                <div id=":hb" class="J-N" role="menuitem" style="user-select: none;">
                  <div class="J-N-Jz" style="user-select: none;">Oldest</div>
                </div>
              </div>
            </div>
          </div>
          <div class="G-Ni J-J5-Ji" gh="s">
            <div id=":28" class="T-I J-J5-Ji ash T-I-ax7 L3" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false" data-tooltip="Settings"
              aria-label="Settings" style="user-select: none;">
              <div class="asa">
                <div class="aos T-I-J3 J-J5-Ji"></div>
              </div>
              <div class="G-asx T-I-J3 J-J5-Ji" aria-hidden="true">&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="dJ"></div>
      </div>
      <div class="LQDzGc"></div>
      <div class="ciwp4" style="display: none;"></div>
      <div class="r0yTaf"></div>
    </div>
  </div>


  <!-- <div class="controls col-sm-10">
    <ul class="control-list list-inline">
      <li>
        <button class="btn btn-control">
          <input type="checkbox" class="mail-select">
          <span class="caret"></span>
        </button>
      </li>
      <li>
        <button class="btn btn-control">
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
      </li>
      <li>
        <button class="text-btn btn btn-control">
          <strong>More</strong>
          <span class="caret"></span>
        </button>
      </li>
    </ul>
  </div> -->
  <!-- controls -->
</div>