
<i *ngIf="!(mailList$ | async)[0]" class="fa fa-spinner fa-spin fa-3x" id="myicon"></i>
<div [@mymail]="isMailListLoaded">
  <li *ngFor="let letter of (mailList$ | async)" [ngClass]="{'email-item': true,'row': true, 'unread': !letter.isRead, 'selected': letter.isChecked}">
    <!-- <a [routerLink]="['/mail', mailBoxName, letter.id]"> -->

    <div class="people col-sm-3"> 

      <ul class="mail-icons list-inline list-of-mail">

        <li (click)='checkLetters(letter)'> 
          <span class="T-Jo J-J5-Ji T-Jo-aMF">
            <div [ngClass]="{'T-Jo-auh': true,'checked': letter.isChecked}"></div>
          </span>
        </li>

        <li>
          <span class="aXw T-KT">
            <span class="T-Jo-auh"></span>

          </span>
        </li>

      </ul>
      <a [routerLink]="['/mail', mailBoxName, letter.id]">
        <span class="people-names">
          <span *ngIf="mailBoxName === 'sent'">To:</span>
          {{letter.name}}
        </span>

      </a>

    </div>

    <a [routerLink]="['/mail', mailBoxName, letter.id]">

      <div class="message col-sm-7">
        <div class="clipper">
          <h3>{{letter.title}}</h3>
          -
          <p>{{letter.body}}</p>
        </div>
      </div>
    </a>
    <div class="date col-sm-2">
      <!-- <date class="pull-right">11:27 a.m.</date> -->

    </div>
    <!-- </a> -->
  </li>
</div>