<div id="login">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="loginGroupControl" (ngSubmit)="submitLogin()">
      <mat-form-field>
        <input formControlName="login" matInput placeholder="Login">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" type="password" matInput placeholder="Password">
      </mat-form-field>

      <p>
        <small>Please enter your login and password. <br> Use 'demo' for login and password.</small>
      </p>

      <button mat-raised-button color="primary" type="submit" (click)="loadingIndicator = true;">Login</button>
    </form>
    <br>
    <div *ngIf="isWrongLoginShown" class="alert alert-danger wrongPasswordMessage">
      <small>Either the Logon ID or password entered is incorrect. Try again please.</small>
    </div>
    <p *ngIf="loadingIndicator">Loading...</p>

    <div *ngIf="loadingIndicator" id="progressbar">
      <span id="loading"></span>
    </div>
  </mat-card>

</div>