<div id="login">

  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginGroupControl" (ngSubmit)="submitLogin()">
      <mat-form-field>
        <input formControlName="login" matInput placeholder="Login">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" type="password" matInput placeholder="Password">
      </mat-form-field>

      <p>
        <small>Please enter your login and password</small>
      </p>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>

</div>