#login {
    padding-top: 5%;
    width: 25%;
    margin: 0 auto;
}

mat-card {
    justify-content: center;
    align-content: center;
}

button {
    margin: auto;
    justify-content: center;
    margin-top: 10px;
}